svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box
}

.svg-inline--fa {
    display: inline-block;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em
}

.svg-inline--fa.fa-2xs {
    vertical-align: .1em
}

.svg-inline--fa.fa-xs {
    vertical-align: 0
}

.svg-inline--fa.fa-sm {
    vertical-align: -.0714285705em
}

.svg-inline--fa.fa-lg {
    vertical-align: -.2em
}

.svg-inline--fa.fa-xl {
    vertical-align: -.25em
}

.svg-inline--fa.fa-2xl {
    vertical-align: -.3125em
}

.fa-2xs {
    font-size: .625em;
    line-height: .1em;
    vertical-align: .225em
}

.fa-xs {
    font-size: .75em;
    line-height: .0833333337em;
    vertical-align: .125em
}

.fa-sm {
    font-size: .875em;
    line-height: .0714285718em;
    vertical-align: .0535714295em
}

.fa-lg {
    font-size: 1.25em;
    line-height: .05em;
    vertical-align: -.075em
}

.fa-xl {
    font-size: 1.5em;
    line-height: .0416666682em;
    vertical-align: -.125em
}

.fa-2xl {
    font-size: 2em;
    line-height: .03125em;
    vertical-align: -.1875em
}
